body {
    background: rgb(39, 39, 39);
    color: white;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}